
<div class="center">
    <div class="admission" style="margin-top: 6rem;margin-bottom: 6rem;"><form method="POST" action="/admin/admission" >
    <label class="form-label">User</label>
    <input required name="username" type="text" placeholder="the facility code" />
    <label class="form-label">Password</label>
    <input required name="password"type="text" placeholder="the password" />
    <div class="button-container">
    <button type="submit" class="form-button">
        Login
    </button>
    </div>
</div>
    </form>
    </div>