
<div style="margin-top: 12rem">
    <h1>
        <%= notice.title %>
        <%- notice.description %>
        <iframe src="<%= notice.attachment %>" width="400" height="400"></iframe>
        <% console.log(notice.attachment) %>
    </h1>
</div>