
<div style="margin-top: 12rem" class="notice">
    <h1>
        <%= notice.title %>
    </h1>
        <%- notice.description %><br />
        <a href="<%= notice.attachment %>" target="_blank" class="open-in-new-tab"><i class="fas fa-external-link-alt"></i>Open attachment in new tab</a><br />
        <embed style="margin-top: 30px;margin-bottom: 50px;"src="<%= notice.attachment %>" />
</div>
<style>

    @import url("/css/notice-view.css");
</style>