
<div style="margin-top: 12rem" class="notice">
    <h1>
        <%= notice.title %>
    </h1>
        <%- notice.description %><br /><br />
        <embed src="<%= notice.attachment %>" />
        <br />
        <a href="<%= notice.attachment %>" target="_blank">Open attachment in new tab</a>
        <% console.log(notice.attachment) %>
</div>
<style>

    @import url("/css/notice-view.css");
</style>