@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
:root {
  --app-dark: #02223e;
  --app-light: #ffffff;
}

@media (min-width: 800px) {
  .responsive-arrow {
    bottom: 12rem;
  }
}
select {
  background: var(--app-light);
}
.slide-name {
  font-weight: 700;
  font-size: 26px;
  color: var(--app-dark);
}
.faculty-heading {
  position: absolute;
  top: 48rem;
  width: 100%;
  left: 0;
}
@media (max-width: 800px) {
  .pc-menu {
    display: none;
  }

  nav {
    width: 100vw;
  }
  .faculty-heading {
    position: absolute;
    top: 20rem;
  }
}
.faculty-image {
  width: 200px;
  border-radius: 100%;
}
@media (max-width: 800px) {
  .faculty-image {
    width: 100px;
  }

  .responsive-arrow {
    bottom: 6.7rem;
  }
}
.faculty-heading h1 {
  font-size: 36px;
}
@media (min-width: 800px) {
  #why-us {
    position: absolute;
    top: 70rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  #why-us {
    position: absolute;
    top: 35rem;
    width: 100%;
    text-align: center;
  }
}
#why-us h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--app-dark);
}
.why-us-heading {
  margin-top: 4rem;
}
#faculty-title {
  color: var(--app-dark);
}
.card-image {
  width: 19rem;
  height: 12rem;
}
.card {
  width: 22rem;
  height: 20rem;
  margin-left: 0.4rem;
  background: var(--app-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
}
.card-text {
  color: var(--app-light);
  font-size: 30px;
  font-weight: 400;
}
.cards {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    height: 65rem;
  }
}
.admission {
  width: 60%;
  color: white;
  background: var(--app-dark);
  height: 30rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0rem 10rem;
}
.card {
  margin: auto;
}
@media (max-width: 800px) {
  form {
    padding: 0rem 1rem;
  }
  .admission {
    width: 100%;
  }
  .admission input,
  button {
    width: 18rem !important;
  }
  select {
    width: 20.5rem !important;
  }
}
@media (min-width: 700px) {
  @media (max-width: 800px) {
    form {
      align-items: center;
    }
  }
}
.admission input,
select {
  width: 35rem;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0px;
  font-size: 20px;
  margin-top: 5px;
}
button {
  padding: 1rem 2rem;
  background-color: var(--app-light);
  border: 0px;
  border-radius: 4px;
  color: var(--app-dark);
  font-size: 20px;
}
select {
  width: 37.5rem;
}
.form-label {
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
}
option[disabled] {
  color: red;
}
.form-button {
  margin-top: 20px;
}
@media (min-width: 800px) {
  .form-button {
    margin-left: 30px;
  }
}
.admission-heading {
  margin-top: 5rem;
}
