@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
:root {
  --app-dark: #02223e;
  --app-light: #ffffff;
}
body {
  overflow-x: hidden !important;
}
.hero-text {
  position: absolute;
  z-index: 2;
  background: rgba(96, 96, 96, 0.9);
  top: 20rem;
  left: 10rem;
  color: var(--app-light) !important;
  width: 23%;
}
.hero {
  z-index: -1;
  height: 80%;
  width: 98%;
  top: 4rem;
}
.pc-menu {
  margin-left: 6rem;
}
.phoneMenu {
  font-size: 50px;
  padding: 0px 0px;
}
@media (max-width: 800px) {
  .hero {
    height: 25%;
    top: 6rem;
  }
  .hero-text {
    top: 8rem;
    left: 0.4rem;
    width: 98%;
  }
}
.nav {
  display: flex;
  justify-content: space-around;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: none;
}
nav {
  position: fixed;
  z-index: 4;
  top: 0px;
  height: 5.5rem;
  width: 100%;
  background-color: var(--app-light);
}
.navbar-head {
  margin-top: 4px;
}
.navbar-head {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: var(--app-dark);
}

.footer {
  width: 100%;
  height: 15rem;
  background-color: var(--app-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0rem;
}
.footer h1 {
  color: var(--app-light) !important;
  font-weight: 400 !important;
  font-size: 23px !important;
  text-align: left;
  margin-top: 4rem;
}
iframe {
  margin-top: 0.9rem;
}
.information-item {
  color: var(--app-light);
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}
@media (max-width: 800px) {
  .footer {
    margin-top: 2rem;
  }
  .footer {
    flex-direction: column;
    height: 50rem !important;
    padding: 0px;
  }
  .pc-menu {
    display: none !important;
  }
  nav {
    width: 100% !important;
  }
}

@media (min-width: 800px) {
  .phoneMenu {
    display: none;
  }
}

.pc-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
}
